<script type="text/javascript" src="/scripts/show.js"></script>
<script type="text/javascript" src="/scripts/new.js"></script>
<script type="text/javascript" src="/scripts/edit.js"></script>
</body>

</html>