<!DOCTYPE html>
<html>
<head>
    <title>Blog D</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script type="javascript" src="/scripts/show.js"></script>

    <meta charset="utf-8"/>
</head>
<body>
<div id="navbar_menu" class="ui large inverted massive top fixed secondary menu">
    <div class="ui container">
        <div class="header item">Lets Blog!</div>
        <a class="item" href="/">
            Home
        </a>
        <div class="right menu">
            <div class="ui dropdown item">
                <img class="ui avatar image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOAWtdUwNKHvS0DdrmJNBKkojjqA-Dz6i126BmMUbd4SzE2B59">
                <div class="menu">
                    <div class="item">Sign Up</div>
                    <div class="item">Login</div>
                </div>
            </div>
            <button class="ui button">
                <a href="/blogs/new">Add New Blog</a>
            </button>
        </div>
    </div>
</div>