<% include layouts/header %>

<form action="/blogs" method="POST">
	<input type="text" name="title" placeholder="Give the title to the blog"></input>
	<input type="text" name="image" placeholder="Image url"></input>
	<input type="text" name="body" placeholder="Enter description"></input>
	<input type="submit"></input>
</form>

<% include layouts/footer %>